*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body{
      width: 100vw;
      height: 100vh;
      background-color: #282726;
      font-family: "Hanken Grotesk", sans-serif;
      color:#F9F4DA;
}

header{
     width: 100%;
     padding-top: 3.125em;
     display: flex;
     flex-direction: column;
     text-align: center;
     gap: 0.5em;
}

header h1{
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 100%;
}

header p{
      max-width: 352px;
      margin: auto;
      font-weight: 500;
      font-size: 0.875rem;
      color:#8E8E8E;
      line-height: 100%;
}

main .game-status{
      max-width: 352px;
      max-height: 59px;
      margin: 1.25em auto;
      padding: 0.625em;
      text-align: center;
      background-color: #10A95B;
      border-radius: 4px;

}

main .game-status h2{
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 100%;
}

main .game-status p{
      padding-left: 1.5em;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0%;
}

main .languages{
      display: flex;
      flex-wrap: wrap;
      max-width: 306px;
      margin: 35px auto;
      gap: 1.5px;
}
main .languages p{
      margin-top: 1px;
      padding: 9px;
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      text-align: center;
      border-radius: 3px;
      position: relative;
}

main .languages :nth-child(6){
      margin-left: 30px;
} 

main .languages p::before {
    content: "💀";
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}



